<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Nimbello Assignment">
<parameter name="browser" value="chrome"></parameter>
<parameter name="env" value="prod"></parameter>
	<test name="Assignment">
		<classes>
			<class name="com.tests.LoginPageTest"></class>
		</classes>
	</test>
</suite> <!-- Suite -->

